[nginx_proxy]
nginx-dev ansible_user={{ ansible_user }}

[frontend]
frontend-dev ansible_user={{ ansible_user }}

[backend]
backend-dev ansible_user={{ ansible_user }}

[db]
db-dev ansible_user={{ ansible_user }}

[devops]
devops-dev ansible_user={{ ansible_user }}

[all:vars]
ansible_python_interpreter=/usr/bin/python3
